html{
    background-color: antiquewhite;
}
h1 {
    text-align: center;
    color: rgb(141, 62, 130);
    background-color:rgb(174, 149, 188) ;
    font-family: fantasy; 
    font-size:300%;
}

p{
    text-align: justify;
    background-color: rgb(181, 149, 190); 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

h2{
    text-align: left; 
    color: rgb(141, 62, 130); 
    font-family:fantasy
}
button{
    width: 80%; 
    height: 20%; 
    color: #ffffff; 
    background-color: rgb(216, 131, 216); 
    margin: 30px 15px;
    padding: 20px;
}
.nav-bar{
    width: 100%;
    margin :0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(210, 179, 228);
    /*padding: 14px 16px;*/
    text-align: left;
    float: left;
    font-size: large;
}
.nav-bar a {
    color: rgb(141, 62, 130);
    text-decoration: none;
    /*padding: 14px 16px;*/
}
.nav-bar a:hover {
    background-color: rgb(201, 166, 201);
    color: white;
}
